<div class="row fullPage">
  <div
    class="col-6 bg-primary d-flex flex-column justify-content-center align-items-center d-none d-md-flex"
  >
    <div class="container p-md-5">
      <h2 class="text-light text-center mb-2">Todo'lar</h2>
      <p class="text-light pageDesc">
        Todo'lar uygulamasına hoş geldiniz!<br />
        Yoğun çalışma hayatında ve hayatın kendi koşturmasında yapmanız gereken
        işleri unutabilirsizniz.Unuttuğunuz işler bazen telafisi güç sonuçlar
        doğura bilecektir. Bu uygulama ile yapmanız gereken işlerin listesini
        oluşturabilir,iş ve görev takibini yapabilirsiniz. <br />
        Sadece mail adresiniz ve belirleyeceğiniz parola ile görev listenize
        ulaşabilirsiniz.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>
